In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('placement.csv');

In [6]:
df

     cgpa  placement_exam_marks  placed
0    7.19                  26.0       1
1    7.46                  38.0       1
2    7.54                  40.0       1
3    6.42                   8.0       1
4    7.23                  17.0       0
..    ...                   ...     ...
995  8.87                  44.0       1
996  9.12                  65.0       1
997  4.89                  34.0       0
998  8.62                  46.0       1
999  4.90                  10.0       1

[1000 rows x 3 columns]

In [8]:
df.sample(5)

     cgpa  placement_exam_marks  placed
3    6.42                   8.0       1
691  7.32                  14.0       0
572  7.66                  37.0       1
917  5.95                 100.0       0
158  5.74                  50.0       0

In [10]:
df['placement_exam_marks'].skew()

0.8356419499466834

In [12]:
print('Mean value of cgpa:',df['cgpa'].mean())
print('std value of cgpa:',df['cgpa'].std())
print('Min value of cgpa:',df['cgpa'].min())
print('Max value of cgpa:',df['cgpa'].max())

Mean value of cgpa: 6.96124
std value of cgpa: 0.6158978751323896
Min value of cgpa: 4.89
Max value of cgpa: 9.12

In [17]:
#Print boundaries
print('Highest allowed:',df['cgpa'].mean() + 3*df['cgpa'].std())
print('Lowest allowed:',df['cgpa'].mean() - 3*df['cgpa'].std())

Highest allowed: 8.808933625397168
Lowest allowed: 5.113546374602832

In [21]:
df[(df['cgpa'] > 8.80) | (df['cgpa'] < 5.11)]

     cgpa  placement_exam_marks  placed
485  4.92                  44.0       1
995  8.87                  44.0       1
996  9.12                  65.0       1
997  4.89                  34.0       0
999  4.90                  10.0       1

In [25]:
#Trimming
upper_bound = df['cgpa'].mean() + 3*df['cgpa'].std()
lower_bound = df['cgpa'].mean() - 3*df['cgpa'].std()
new_df = df[(df['cgpa'] < upper_bound) & (df['cgpa'] > lower_bound)]

In [27]:
new_df

     cgpa  placement_exam_marks  placed
0    7.19                  26.0       1
1    7.46                  38.0       1
2    7.54                  40.0       1
3    6.42                   8.0       1
4    7.23                  17.0       0
..    ...                   ...     ...
991  7.04                  57.0       0
992  6.26                  12.0       0
993  6.73                  21.0       1
994  6.48                  63.0       0
998  8.62                  46.0       1

[995 rows x 3 columns]

In [30]:
#Using z-score method
df['z_score_cgpa'] = (df['cgpa'] - df['cgpa'].mean())/df['cgpa'].std()
df

     cgpa  placement_exam_marks  placed  z_score_cgpa
0    7.19                  26.0       1      0.371425
1    7.46                  38.0       1      0.809810
2    7.54                  40.0       1      0.939701
3    6.42                   8.0       1     -0.878782
4    7.23                  17.0       0      0.436371
..    ...                   ...     ...           ...
995  8.87                  44.0       1      3.099150
996  9.12                  65.0       1      3.505062
997  4.89                  34.0       0     -3.362960
998  8.62                  46.0       1      2.693239
999  4.90                  10.0       1     -3.346724

[1000 rows x 4 columns]

In [32]:
df_new = df[(df['z_score_cgpa']<3) & (df['z_score_cgpa']>-3)]
df_new

     cgpa  placement_exam_marks  placed  z_score_cgpa
0    7.19                  26.0       1      0.371425
1    7.46                  38.0       1      0.809810
2    7.54                  40.0       1      0.939701
3    6.42                   8.0       1     -0.878782
4    7.23                  17.0       0      0.436371
..    ...                   ...     ...           ...
991  7.04                  57.0       0      0.127878
992  6.26                  12.0       0     -1.138565
993  6.73                  21.0       1     -0.375452
994  6.48                  63.0       0     -0.781363
998  8.62                  46.0       1      2.693239

[995 rows x 4 columns]

In [34]:
df['cgpa'] = np.where((df['cgpa'] > upper_bound),upper_bound,np.where((df['cgpa'] < lower_bound),lower_bound,df['cgpa']))

In [36]:
df.shape

(1000, 4)

In [38]:
df['cgpa'].describe()

count    1000.000000
mean        6.961499
std         0.612688
min         5.113546
25%         6.550000
50%         6.960000
75%         7.370000
max         8.808934
Name: cgpa, dtype: float64

In [39]:
pip install pandas_profiling

Collecting pandas_profilingNote: you may need to restart the kernel to use updated packages.

  Using cached pandas_profiling-3.2.0-py2.py3-none-any.whl (262 kB)
Collecting joblib~=1.1.0 (from pandas_profiling)
  Using cached joblib-1.1.1-py2.py3-none-any.whl (309 kB)
Requirement already satisfied: scipy>=1.4.1 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from pandas_profiling) (1.11.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from pandas_profiling) (2.0.2)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from pandas_profiling) (3.7.1)
Collecting pydantic>=1.8.1 (from pandas_profiling)
  Obtaining dependency information for pydantic>=1.8.1 from https://files.pythonhosted.org/packages/87/80/52770e747e4bee5012e60b2684db36c8fdf010f8dadb4ded0efec808b07d/pydantic-2.1.1-py3-none-any.whl.metadata
  Using cached pydantic-2.1.1-py3-none-any.whl.metadata (136 kB)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from pandas_profiling) (6.0)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from pandas_profiling) (3.1.2)
Requirement already satisfied: markupsafe~=2.1.1 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from pandas_profiling) (2.1.2)
Collecting visions[type_image_path]==0.7.4 (from pandas_profiling)
  Using cached visions-0.7.4-py3-none-any.whl (102 kB)
Requirement already satisfied: numpy>=1.16.0 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from pandas_profiling) (1.24.3)
Collecting htmlmin>=0.1.12 (from pandas_profiling)
  Using cached htmlmin-0.1.12-py3-none-any.whl
Collecting missingno>=0.4.2 (from pandas_profiling)
  Using cached missingno-0.5.2-py3-none-any.whl (8.7 kB)
Collecting phik>=0.11.1 (from pandas_profiling)
  Using cached phik-0.12.3-cp311-cp311-win_amd64.whl (663 kB)
Collecting tangled-up-in-unicode==0.2.0 (from pandas_profiling)
  Using cached tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
Requirement already satisfied: requests>=2.24.0 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from pandas_profiling) (2.31.0)
Collecting tqdm>=4.48.2 (from pandas_profiling)
  Obtaining dependency information for tqdm>=4.48.2 from https://files.pythonhosted.org/packages/00/e5/f12a80907d0884e6dff9c16d0c0114d81b8cd07dc3ae54c5e962cc83037e/tqdm-4.66.1-py3-none-any.whl.metadata
  Using cached tqdm-4.66.1-py3-none-any.whl.metadata (57 kB)
Collecting seaborn>=0.10.1 (from pandas_profiling)
  Using cached seaborn-0.12.2-py3-none-any.whl (293 kB)
Collecting multimethod>=1.4 (from pandas_profiling)
  Using cached multimethod-1.9.1-py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=19.3.0 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (3.1)
Collecting imagehash (from visions[type_image_path]==0.7.4->pandas_profiling)
  Using cached ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
Requirement already satisfied: Pillow in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (9.5.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (4.39.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2023.3)
Collecting annotated-types>=0.4.0 (from pydantic>=1.8.1->pandas_profiling)
  Obtaining dependency information for annotated-types>=0.4.0 from https://files.pythonhosted.org/packages/d8/f0/a2ee543a96cc624c35a9086f39b1ed2aa403c6d355dfe47a11ee5c64a164/annotated_types-0.5.0-py3-none-any.whl.metadata
  Using cached annotated_types-0.5.0-py3-none-any.whl.metadata (11 kB)
Collecting pydantic-core==2.4.0 (from pydantic>=1.8.1->pandas_profiling)
  Obtaining dependency information for pydantic-core==2.4.0 from https://files.pythonhosted.org/packages/a9/5e/c7e9edbe7113dc0193b68ed7e3f22ca5b152c89390fd0fb01e9130806262/pydantic_core-2.4.0-cp311-none-win_amd64.whl.metadata
  Using cached pydantic_core-2.4.0-cp311-none-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from pydantic>=1.8.1->pandas_profiling) (4.7.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.24.0->pandas_profiling) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.24.0->pandas_profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2.0.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2023.5.7)
Requirement already satisfied: colorama in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from tqdm>=4.48.2->pandas_profiling) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.2.0->pandas_profiling) (1.16.0)
Collecting PyWavelets (from imagehash->visions[type_image_path]==0.7.4->pandas_profiling)
  Using cached PyWavelets-1.4.1-cp311-cp311-win_amd64.whl (4.2 MB)
Using cached pydantic-2.1.1-py3-none-any.whl (370 kB)
Using cached pydantic_core-2.4.0-cp311-none-win_amd64.whl (1.7 MB)
Using cached tqdm-4.66.1-py3-none-any.whl (78 kB)
Using cached annotated_types-0.5.0-py3-none-any.whl (11 kB)
Installing collected packages: htmlmin, tqdm, tangled-up-in-unicode, PyWavelets, pydantic-core, multimethod, joblib, annotated-types, pydantic, imagehash, visions, seaborn, phik, missingno, pandas_profiling
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.1
    Uninstalling joblib-1.1.1:
      Successfully uninstalled joblib-1.1.1
  Rolling back uninstall of joblib
  Moving to c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages\joblib-1.1.1.dist-info\
   from C:\Users\Aoun Haider\AppData\Local\Programs\Python\Python311\Lib\site-packages\~oblib-1.1.1.dist-info
  Moving to c:\users\aoun haider\appdata\local\programs\python\python311\lib\site-packages\joblib\
   from C:\Users\Aoun Haider\AppData\Local\Programs\Python\Python311\Lib\site-packages\~oblib

ERROR: Exception:
Traceback (most recent call last):
  File "C:\Users\Aoun Haider\AppData\Local\Programs\Python\Python311\Lib\site-packages\pip\_internal\cli\base_command.py", line 180, in exc_logging_wrapper
    status = run_func(*args)
             ^^^^^^^^^^^^^^^
  File "C:\Users\Aoun Haider\AppData\Local\Programs\Python\Python311\Lib\site-packages\pip\_internal\cli\req_command.py", line 248, in wrapper
    return func(self, options, args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Aoun Haider\AppData\Local\Programs\Python\Python311\Lib\site-packages\pip\_internal\commands\install.py", line 452, in run
    installed = install_given_reqs(
                ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Aoun Haider\AppData\Local\Programs\Python\Python311\Lib\site-packages\pip\_internal\req\__init__.py", line 72, in install_given_reqs
    requirement.install(
  File "C:\Users\Aoun Haider\AppData\Local\Programs\Python\Python311\Lib\site-packages\pip\_internal\req\req_install.py", line 807, in install
    install_wheel(
  File "C:\Users\Aoun Haider\AppData\Local\Programs\Python\Python311\Lib\site-packages\pip\_internal\operations\install\wheel.py", line 731, in install_wheel
    _install_wheel(
  File "C:\Users\Aoun Haider\AppData\Local\Programs\Python\Python311\Lib\site-packages\pip\_internal\operations\install\wheel.py", line 620, in _install_wheel
    assert os.path.exists(pyc_path)
AssertionError

[notice] A new release of pip is available: 23.2 -> 23.2.1
[notice] To update, run: C:\Users\Aoun Haider\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip